@use '/src/mixins.scss' as mixins;
@use '/src/color-variables.scss' as theme;

.card{
    width: inherit;
    border: 1px solid black;
    padding: 0.6rem;
    border-radius: 10px;
    background-color: theme.$accent-color;
    .head{
        display: grid;
        grid-template-columns: 1fr min-content;
        align-items: center;
        
        h3{
            color: theme.$primary-color;
        }
        
        .drop-btn{
            transition: 100ms;
        }

        .rotate{
            transform: rotate(180deg);
        }

        .edit-icon{
            color: theme.$bg-color; 
        }

        .edit-icon:hover{
            font-variation-settings:
            'wght' 500,
        }
    }

    .details{
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 100ms ease-out;

        .description{
            overflow: hidden;
        }
    }

    .expand{
        grid-template-rows: 1fr;
    }
}