@use '/src/mixins.scss' as mixins;
@use '/src/color-variables.scss' as theme;

.card{
    width: inherit;
    border: 1px solid black;
    padding: 0.6rem;
    border-radius: 10px;
    background-color: theme.$accent-color;
    overflow: hidden;
    .head{
        position: relative;
        display: grid;
        grid-template-columns: 1fr min-content;
        align-items: center;
        h3{
            color: theme.$primary-color;
        }
        
        .drop-btn{
            transition: 100ms;
        }

        .rotate{
            transform: rotate(180deg);
        }

        .edit-icon, .delete-icon{
            color: gray; 
        }

        .edit-icon:hover, .delete-icon:hover{
            font-variation-settings:
            'wght' 500,
        }

        .edit-icon:hover{
            color: theme.$bg-color;
        }

        .delete-icon:hover{
            color: theme.$color-warn;
        }

        .choice-btns{
            position: absolute;
            border-radius: 5px;
            top: 0;
            right: 0;

            button{
               border-radius: 4px; 
               color: theme.$font-light;
               padding: 0.2rem 0.3rem;
            }

            button.no{
                background-color: theme.$bg-color;
            }

            button.yes{
                background-color: theme.$color-warn;
            }
        }
    }

    .details{
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 100ms ease-out;
        
        .description{
            overflow: hidden;
            .desc-heading{
                padding-block: 1rem 0.3rem;
            }

        }
    }

    .expand{
        grid-template-rows: 1fr;
    }
}