<h2 class="header-color-secondary">{{ title.toUpperCase() }}</h2>
@if(status()=='fetched'){
    <ul class="list" [@itemEnter]="items?.length">
        @for(item of items; track item.id) {
            <li>
                <app-card [item]="item" />
            </li>
        } @empty{
            <p class="empty-msg font-light">There are no items!</p>
        }
    </ul>
}@else if(status()=='fetching'){
    <app-loader class="loader" color="#7077a1" size="large"/>    
}@else if(status()=='error'){
    <h3 class="font-light error"><span class="material-symbols-outlined icon-warn">error</span> Error Fetching Data!</h3>
}
