@use '/src/color-variables.scss' as theme;

$padding: 0.5rem;

:host{
    display: grid;
}

h2{
    padding-left: $padding;
    text-align: center;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    // position: relative;
}

.empty-msg{
    text-align: center;
}

.error{
    display: flex;
    justify-content: center;
    color: theme.$color-warn;
    gap: 0.4rem;
}

.loader{
    margin-top: 1rem;
    place-self: center;
}