<form class="detail-form form" (ngSubmit)="onSubmit()" [formGroup]="form" @enterTrigger >
    <button class="close-btn" type="button" (click)="close.emit()" ><span class="material-symbols-outlined">close</span></button>
    <div class="input-field">
        <label for="title" class="label">Title</label>
        <input type="text" class="bg-dark" id="title" name="title" formControlName="title" />
    </div>
    <div class="input-field">
        <label for="description" class="label">Description</label>
        <input type="text" class="bg-dark" id="description" name="description" formControlName="description" />
    </div>
    <button class="submit-btn">
        @if(toEdit){
            Update 
        }@else{
            Insert
        }
    </button>
</form>