<div>
    <h2 class="heading header-color-secondary">RESET PASSWORD</h2>
    @if(status()=='error'){
        <div class="error">
            <p class="err-msg">{{ error() }}</p>
        </div>
    }@else if(status()=='sent'){
        <div class="success">
            <div class="success-msg">Reset e-mail sent successfully</div>
        </div> 
    }
    <form class="form" [formGroup]="form" (ngSubmit)="resetPass()">
        <div class="form-field">
            <input class="bg-dark" name="email" formControlName="email" placeholder="Enter your e-mail address"  />
        </div>
        <button [disabled]="!form.valid" class="submit-btn" >
            @if(status()=='sending'){
                <app-loader size="small" />
            }@else {
                Reset Password
            }
        </button>
    </form>
    <div class="text-center"><a class="link font-light" routerLink="/login">Back to login</a></div>
</div>