@use '/src/mixins.scss' as mixins;
@use '/src/color-variables.scss' as theme;
:host{
    display: grid;
    grid-template-rows: min-content 1fr;
    @include mixins.fullscreen;
    background-color: theme.$bg-color;
    padding: 0.4rem;
}
.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 0.4rem;
    height: 100%;

    .section{
        border: 2px solid theme.$secondary-color;
        border-radius: 10px;
    }
}

.heading{
    font-size: 5rem;
    text-align: center;
}

.add-button{
    position: absolute;
    bottom: 3rem;
    right: 3rem;
}