<app-header />
<main> 
   <div class="board">
       <div class="section todo" appDrop hovered="todo" [list]="todo">
          <app-section [source]="todo" title="Todo" [items]="todo()" />          
        </div>
       <div class="section work-in-progress" hovered="work-in-progress" appDrop [list]="workInProgress" >
          <app-section [source]="workInProgress" title="work in progress" [items]="workInProgress()" />           
       </div>
       <div class="section done" hovered="done" appDrop [list]="done">
          <app-section [source]="done" title="done" [items]="done()" />          
       </div>
     </div> 
     <app-button class="add-button" color="primary" (click)="insert=true">
         <img src="../../assets/icons/add.png" /> 
     </app-button>
     @if(insert){
          <app-add-new-form (close)="insert=false"></app-add-new-form>
     }
</main>