<app-header />
<main> 
   <div class="board">
       <div class="section todo" appDrop hovered="todo">
          <app-section title="Todo" [items]="todo()" />        
        </div>
       <div class="section work-in-progress" hovered="work-in-progress" appDrop >
          <app-section title="work in progress" [items]="workInProgress()" />           
       </div>
       <div class="section done" hovered="done" appDrop>
          <app-section title="done" [items]="done()" /> 
       </div>
     </div> 
     <app-button class="add-button" color="primary" (click)="dialogService.showDialog()">
         <img src="../../assets/icons/add.png" /> 
     </app-button>
</main>